body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background: #ff4c68;
    color: #fff;
    
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
}

/* Download Buttons */

.btn-download {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-img {
    width: 60%;
    transform: rotate(25deg);
}

/* Features */
.features-container {
    text-align: center;
}

.features-item {
    margin-top: 8rem;
    width: 2rem;
}

.features-icon {
    color: #ff4c68;
    font-size: 3.5rem;
}

.features-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}

.features-info {
    font-weight: 400;
}